.App {
  text-align: center;
  max-width: 800px;
  margin: auto;
  color: white;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 2rem 0 1rem 0;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
  color: #eeeeee;
}

ul {
  margin: 0.5rem 0;
  padding: 0;
}

#playlist-ul {
  margin: 1rem 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1;
  position: absolute;
  left: 0;
  background-color: #222222;
  height: 100vh;
}

.artist-text {
  opacity: 0.7;
}

#playlist-ul li {
  font-size: 14px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #111111;
}

#playlist-ul li:hover {
  cursor: default;
}

#playlist li img {
  padding: 0 10px;
}

#playlist li div.text {
  text-align: left;
}

li {
  max-width: 600px;
  margin: auto;
  padding: 10px 0;
  color: #eeeeee;
}

li:hover {
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

#search {
  padding: 2rem 0 1rem 0;
}

input {
  padding: 7px 10px;
  border-radius: 15px;
  border: 0;
  background-color: #444444;
  color: white;
  font-size: 14px;
}

input:focus {
  background-color: #555555;
  color: white;
}

button {
  padding: 7px 10px;
  border: 0;
  background-color: #1DB954;
  color: black;
  font-size: 14px;
}

button:hover {
  opacity: 0.7;
  transition: opacity 0.1s ease-in-out;
}

#show-playlist, #hide-playlist {
  border-radius: 15px;
  background-color: #bbbbbb;
}

#password-button {
  background-color: #111111;
  color: white;
  font-size: 14px;
}

/*
#show-playlist:hover, #hide-playlist:hover {
  background-color: #dddddd;
  transition: background-color 0.1s ease-in-out;
}

#password-button:hover {
  background-color: #dddddd;
  color: #111111;
  transition: background-color 0.2s ease-in-out;
}
*/

a {
  color: #1DB954;
}

.submit-button {
  margin-left: 10px;
}

#login {
  margin: 1rem;
  background-color: #666666;
  padding: 1rem;
  border-radius: 15px;
}

#login input {
  background-color: #eeeeee;
}

#actions {
  margin-top: 1rem;
}