body, main, canvas {
    /* border: 1px solid gray; */
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', 'Arial';
}

main {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: bottom;
}

section {
    margin: 0.5rem 0;
}

button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: 1px solid gray;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(255,255,255,0.8);
}

#dashboard {
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.9);
}

#input-container {
    margin: 1rem 0;
    display: none;
}

input {
    width: 50px;
}

#canvas-container {
    display: flex;
    justify-content: center;
}

canvas {
    visibility: visible;
}

#log {
    padding: 1rem 0;
    border: 1px solid rgba(0,0,0,0.2);
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stat-display {
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.9);
}



@media screen and (max-width:500px) {
    canvas {
        width: 100%;
    }

    main {
        width: 100%;
    }
}